button {
  padding: 5px;
  background: gray;
  color: aliceblue;
  margin: 1px;
}

.App {
  text-align: center;
  display: grid;
  grid-template-rows: .1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr;
  background-color: greenyellow;
}

.FightClub {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
  padding: 15px;
  background-color: aqua;
}

.FightButton {
  width: 200px;
}

.FightButtons{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.OpenClose {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr;
  padding: 15px;
  height: 260px;
}

.open-is-true {
  background-color: gold;
}

.open-is-false {
  background-color: rgb(2, 2, 92);
  color: white;
}